#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem; /* 1rem = 16px */
  border-radius: 1rem;
  transition: 0.115s /* tempo para as mudanças de css */
}

.card:hover {
  box-shadow: 0.3rem 0.3rem lightgrey;
  translate: -0.2rem -0.2rem /* move o card */
}
.card > h2 {
  font-size: 2rem;
}
.card > img {
  border-radius: 1rem;
}